div {
  padding: 10%;
  background: linear-gradient(blue, black, yellow);
  animation: change 10s ease-in-out infinite;
}
@keyframes change {
  from {
    background: green;
  }
  to {
    background: red;
  }
}
